
<div id="orderSummary" class="orderSummary" style="margin-top:5%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7" >
            <h1>
                <% if session[:is_admin] %>
                    Order: <%= @order.orderCode %>
                <% else %>
                    Your Order
                <% end %>

                
            </h1>
            <% @order.orderContents.each do |item| %>
                <% @product = Product.find_by(:prodCode => item[0]) %>
                <div class="container" style="border: 2px solid #aaa; outline: none; box-sizing: border-box; height:40%; margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-4" style="height:140px;width:100%;">
                            <%= image_tag(@product.pathToImg, size:"200x140") %>
                        </div>
                        <div class="col-lg-4 col-md-4"> <!-- stylize this more -->
                            <i><%= @product.prodCategory %></i>
                            <h4><%= @product.prodName %></h4>
                            <p><%= @product.prodDesc %></p>
                            <p><%= number_to_currency(@product.price, :unit => '₱') %></p><br/>
                            <p>Qty: <%= item[1].to_i %></p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                           <!--<button type="button" class="btn btn-danger btn_destroy" style="margin-top:50px;float:right;">Remove</button>-->
                        </div>
                    </div>
                </div>
            <% end %>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 " id="rightPanel">
                <h1>Total</h1>
                 <table class = 'table table-condensed table-hover'>
                    <thead>
                      <tr>
                        <th>Qty</th> 
                        <th>Name</th> 
                        <th>Price</th> 
                        <th colspan="3"></th> 
                      </tr>
                    </thead>
                     <tbody>
              <% @order.orderContents.each do |item| %>
              <% @product = Product.find_by(:prodCode => item[0]) %>
            <tr>
              <td><%= item[1].to_i %></td> 
              <td><%= @product.prodName %></td> 
              <td><%= number_to_currency((@product.price * item[1]), :unit =>'₱') %> </td>
            </tr>
              <% end %> 
            
    </tbody>
                
                     
                </table>
                <h3 style="margin-top:60%;margin-left:50%;">Total: <%= number_to_currency(total_price(@order.orderContents), :unit => '₱') %></h3>
                <!--<button type="button" class="btn btn-danger btn_destroy" style="float:right;">Cancel</button>-->
                <%= link_to 'Back', orders_path, class:'btn btn-danger btn_destroy', style:"float:right;" %>
                
            </div>
            
        </div>
    </div>
</div>
