<!-- everyone can see this page -->
<div id="header" class="header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <br>
                <br>
                <%= image_tag("Sliders/SliderImage1",size:"1080x600") %>              
            </div>
        </div>
    </div>
</div>
<div id="thumbnail" class="thumbnail" style="margin-top:2%;">
    <div class="container-fluid">
        <h2>Special Offers</h2>
          <div class="row text-center text-lg-left">
              
            <div class="col-lg-2 col-md-2 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
              </a>
            </div>
                 <div class="col-lg-2 col-md-2 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
              </a>
            </div>
        </div>
    </div>
</div>

<div id="thumbnail" class="thumbnail" style="margin-top:2%;">
  <div class="container-fluid">
    <!-- flesh this out more some time, integrate search function -->
      <h2>Cakes</h2>
      <div class="row text-center text-lg-left">
      <% @products.each do |product| %>
        <% if not product.isDeleted? %>
          <% if product.prodCategory.casecmp("Cakes") == 0 %>
            <div class="col-lg-3 col-md-3 col-xs-6">
              <%= link_to item_path(product.prodCode), :class => "d-block mb-4 h-100" do %>
              <!--<a href="#" class="d-block mb-4 h-100">-->
                <b style="color: #555555; text-decoration: none;"> <%= product.prodName %></b>
                <br/>
                <!--<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">-->
                <%= image_tag("cakes/carrotcake.jpg", :class =>"img-fluid img-thumbnail")%>
                <br/>
                <text style="color: #888888; text-decoration: none;"><%= shorten(product.prodDesc, 50) %></text>
                <br/>
                <h4>
                  <text style="color: #93d671; text-decoration:none;"> <%= number_to_currency(product.price, :unit => '₱') %></text>
                </h4>
              <!--</a>-->
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
  </div>
</div>

<div id="thumbnail" class="thumbnail" style="margin-top:2%;">
  <div class="container-fluid">
      <h2>Cupcakes</h2>
      <div class="row text-center text-lg-left">
      <% @products.each do |product| %>
        <% if not product.isDeleted? %>
          <% if product.prodCategory.casecmp("Cupcakes") == 0 %>
            <div class="col-lg-3 col-md-3 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <b style="color: #555555; text-decoration: none;"> <%= product.prodName %></b>
                <br/>
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                <br/>
                <text style="color: #888888; text-decoration: none;"><%= shorten(product.prodDesc, 50) %></text>
                <br/>
                <h4>
                  <text style="color: #93d671; text-decoration:none;"> <%= number_to_currency(product.price, :unit => '₱') %></text>
                </h4>
              </a>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
  </div>
</div>

<div id="thumbnail" class="thumbnail" style="margin-top:2%;">
  <div class="container-fluid">
      <h2>Cookies</h2>
      <div class="row text-center text-lg-left">
      <% @products.each do |product| %>
        <% if not product.isDeleted? %>
          <% if product.prodCategory.casecmp("Cookies") == 0 %>
            <div class="col-lg-3 col-md-3 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
                <b style="color: #555555; text-decoration: none;"> <%= product.prodName %></b>
                <br/>
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                <br/>
                <text style="color: #888888; text-decoration: none;"><%= shorten(product.prodDesc, 50) %></text>
                <br/>
                <h4>
                  <text style="color: #93d671; text-decoration:none;"> <%= number_to_currency(product.price, :unit => '₱') %></text>
                </h4>
              </a>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
  </div>
</div>

<div id="thumbnail" class="thumbnail" style="margin-top:2%;">
    <div class="container-fluid">
        <h2>Bread</h2>
        <div class="row text-center text-lg-left">
        <% @products.each do |product| %>
          <% if not product.isDeleted? %>
            <% if product.prodCategory.casecmp("Bread") == 0 %>
              <div class="col-lg-3 col-md-3 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <b style="color: #555555; text-decoration: none;"> <%= product.prodName %></b>
                  <br/>
                  <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  <br/>
                  <text style="color: #888888; text-decoration: none;"><%= shorten(product.prodDesc, 50) %></text>
                  <br/>
                  <h4>
                    <text style="color: #93d671; text-decoration:none;"> <%= number_to_currency(product.price, :unit => '₱') %></text>
                  </h4>
                </a>
              </div>
            <% end %>
          <% end %>
        <% end %>
        </div>
    </div>
</div>
<div id="footer" class="footer">
            <div  class="container">
                <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4>Contact Us</h4>
                    <p>No. 9 Central Ave. New Era, Quezon City</p>
                    <p>TasteBuddy@gmail.com</p>
                    <p>&copy;2018TasteBuddy, All Rights Reserved. </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>About</h4>
                    <p>Privacy</p>
            <p>Term & Condition</p> 
        </div>
        <div class="col-lg-4 col-md-4">            
            <h4>Stay in touch</h4>
            <input type="email" placeholder="subscribed for Updates">
            <button class="btn btn-success">Suscribes</button>
        </div>
    </div>
</div>
</div>