<br/>
<br/>


<div class= "container">
    <div class="cf">
        <div class="leftcol">
        <%= image_tag("cakes/carrotcake.jpg", size:"300x500") %>
        </div>
        <div class="rightcol" style="align-content: center">    
            <h4><i class='category'><%= @product.prodCategory %></i></h4>
            <h3><b class='name' ><%= @product.prodName %></b></h3>
        </div>
        <br>
        <div class="righttext" style="align-content: left">
            <p><%= @product.prodDesc %></p>
            <p><%= number_to_currency(@product.price, :unit =>'₱') %></p>
        </div>
        <div class ="rightcol"> 
            <%# form_tag("/cart/place", method: "put") do |form| %>
            <%= form_tag(add_to_cart_path, method: "put") do %>
                <div class="field">
                    <%= label_tag :qty, 'Quantity x', style:"display: inline;" %>
                    <%= text_field_tag :qty, 1 %>
                </div>
                <!-- sneaky hidden tag for prod code -->
                <div class="field">
                    <%# label_tag :prodCode %>
                    <%# text_field_tag :prodCode,%>
                    <%= hidden_field_tag :prodCode, @product.prodCode %>
                </div>
                <% if session[:user_id] != nil %>
                    <% puts "[show.html - main_page] user is logged in" %>
                    <%= submit_tag 'Add to Cart', class:'button buttonbuy' %>
                   
                <% end %>
            <% end %>
        </div>
         <% if session[:user_id] == nil %>
            <!-- decoy add to cart button -->
            <% puts "[show.html.erb - main_page] no login found" %>
            <%# button_to "Add to Cart.", must_be_logged_path,  method: :get, class:'button buttonbuy' %>
            <%= button_to "Add to Cart.", dos_must_be_logged_path(@event),  :remote => true , class:'button buttonbuy' %>
         <% end %>
        <!--<div class="clear"></div> idk what this does -->
    </div>
    
        <div class="modal" style="display:none;">
        </div>
</div>
