<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:
      </div>
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%# puts "[_form.html.erb]Product Status: "%>
  <%# puts @product.deleted %>
  <%# puts @genCode %>

  <div class="field">
    <%= form.label 'Code' %>
    <%= form.text_field :prodCode, id: :product_prodCode, :readonly=>true, class:'form-control', value: @genCode %>
  </div>

  <div class="field">
    <%= form.label 'Category' %>
    
    <%# form.text_field :prodCategory, id: :product_prodCategory, class:'form-control' %>
    <!-- this one is a drop down -->
    <div class="dropdown">
      <%= form.select :prodCategory, ['Bread','Cakes','Cookies','Cupcakes'], class:'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Name' %>
    <%= form.text_field :prodName, id: :product_prodName, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Description' %>
    <%= form.text_field :prodDesc, id: :product_prodDesc, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Price' %>
    <%= form.text_field :price, id: :product_price, class:'form-control' %>
  </div>
  <div class='field'>
    <%= form.label 'Image' %>
    <%= form.file_field :image, id: :product_image, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Accept', class:'btn btn_new'%>
  </div>
<% end %>
