<p id="notice"><%= notice %></p>


<div class="container">
  <br/>
  <h1>Products</h1>
  <div id="header" class="header">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <%= form_tag products_path, :method => 'get' do %>
            <!--<button type="button" id="SearchButton" class="btn">Search</button>
            <input type="text" id="search" name="search" class="SearchBar" placeholder="Search">-->
            <%= text_field_tag :search, params[:search], placeholder:'Search...' %>
            <%= button_tag "Search", name: nil, class:'btn' %>
          <% end %>
        </div> 
      </div>   
  </div> 
  <table class = 'table table-condensed table-hover'>
    <thead>
      <tr>
        <th>Product No.</th> 
        <th>Category</th> 
        <th>Name</th> 
        <th>Description</th> 
        <th>Price</th> 
        <th colspan="3"></th> 
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <% if not product.isDeleted? %>
            <tr>
              <td><%= product.prodCode %> </td> 
              <td><%= product.prodCategory %> </td> 
              <td><%= product.prodName %> </td> 
              <td><%= shorten(product.prodDesc) %> </td> <!-- there must be a better way to truncate this --> 
              <td><%= number_to_currency(product.price, :unit =>'P') %> </td> 
              <td>
              <%= link_to 'Show', product, class:'btn'%>
              <%= link_to 'Edit', edit_product_path(product), class:'btn btn-primary btn_edit' %>
              <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn_destroy' %>
              </td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>


<br>

<%# The syntax here is link_to 'Text user sees', actual link, 'further items here are other attributes on the tag' %>

<%= link_to 'New Product', new_product_path, class:'btn btn_new' %> 
</div>
<!-- MEGA COMMENT
<!-- itemLayer 
<div id="containerItem" class="containerItem">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-md-12">
                <div id="TextItem" class="TextItem">
                    <div class="col-lg-10 col-md-10">
                        <br>
                        <b>Blueberry Cheesecake</b>
                    </div> 
                </div>
                <div class="buttonGroup" id="buttonGroup">
                    <div class="col-lg-2 col-md-2">
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->