<br/>
<p id="notice"><%= notice %></p>
<div class="container">
  <br/>
  <p>
    <strong>Prodcode:</strong>
    <%= @product.prodCode %>
  </p>

  <p>
    <strong>Prodcategory:</strong>
    <%= @product.prodCategory %>
  </p>

  <p>
    <strong>Prodname:</strong>
    <%= @product.prodName %>
  </p>

  <p>
    <strong>Proddesc:</strong>
    <%= @product.prodDesc %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@product.price, :unit =>'P') %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>