<!DOCTYPE html>
<html>
  <head>
    <title>TasteBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    
</head>

  <body>
             <!-- Login Start-->
                    <div class="modal_container">
                    <div class="modal fade" id="popUpLogin">
                        <div class="modal-dialog">
                          <%= form_tag sessions_path do %> <%# sessions_path somehow triggers the create action %>
                            <div class="modal-content">
                                <!-- header-->
                                <div class="modal-header">
                                    <center><h2>LOGIN</h2></center>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- body-->
                                <div class="modal-body">
                                    
                                        
                                      <%= label_tag :username %>  
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </div>
                                        <%= text_field_tag :username, params[:username], class:"form-control", placeholder:"Username" %>                                 
                                      </div>

                                      
                                      <%= label_tag :password %> <br/>
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                            <i  class="glyphicon glyphicon-lock"></i>
                                        </div>
                                        <%= password_field_tag :password, params[:password], class:'form-control', placeholder:"*******" %>
                                      </div>
                                    
                                </div>
                                
                                <!--footer-->
                                <div class="modal-footer">
                                    <div class="actions"> <%= submit_tag "Log In" , class:"btn btn_new"%> </div>
                                </div>
                                <% end %>
    
                            </div>
                        </div>
                    </div>
                    </div>
                  <!-- End-->
                  <!-- Register Start-->
                    
                    <div class="modal fade" id="popUpSignUp">
                        <div class="modal-dialog">
                            <div class="modal-content">

                               <%  
                              user = User.new
                              if User.last() == nil
                                  puts "[user_controller] db.users empty, first code generated"
                                  @genCode = 'U00001'
                              else
                                  @prevID = User.last().userid[1..5].to_i
                                  @prevID = @prevID +1
                                  @genCode = "U" +@prevID.to_s.rjust(5, "0")
                              end
                              
                              %>
                              

                                <!-- header-->
                                <div class="modal-header">
                                    <center><h2>REGISTER</h2></center>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <%= form_with(model: user, local: true) do |form| %>
                              <% if user.errors.any? %>
                                <div id="error_explanation">
                                  <div class="alert alert-danger">
                                    <%= pluralize(product.errors.count, "error") %> prohibited this user from being saved:
                                  </div>
                                  <ul>
                                  <% user.errors.full_messages.each do |message| %>
                                    <li> <%= message %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>

                              <%# temporary field, this is just to show what their userid would be %>
                              <div class="field">
                                <%= form.hidden_field :userid, id: :user_userid, :readonly=>true, class:'form-control' , value:@genCode %>
                              </div>

                              
                                <!-- body-->
                                <div class="modal-body">
                                    <form role="form">

                                    <%= form.label 'Username' %>
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                      </div>
                                       <%= form.text_field :username, id: :user_username, class:'form-control' %>
                                    </div>
                                        
                                        
                                    <%= form.label 'Password' %> 
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                      </div>
                                        <!--<input type="Password" class="form-control" placeholder="********" name="Password" required="Password"  >-->
                                        <%= form.password_field :password, id: :user_password, class:'form-control', placeholder:"*******"  %>
                                    </div>

                                   
                                </div>
                              
                                <!--footer-->
                                <div class="modal-footer">
                                        <!--<button type="input" name="register" class="btn btn-primary btn_edit" >Register</button>-->
                                        <div class="actions">
                                          <%= form.submit 'Sign up!', class:'btn btn_new'%>
                                        </div>
                                </div>
                                
                                
                             
                                <% end %>


                            </div>
                        </div>
                    </div>
                        
      
      
      
      
      
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "TasteBuddy", root_url, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_url, class:"nav-link" %>
            
          </li>
          <li class ="nav-item">
            <% if session[:user_id] != nil %> <!-- this code makes it so it renderrs signup and login if you're not logged in' -->
              <%= link_to orders_path, class:"nav-link" do %>
                <%= content_tag(:span, "") %>
                Orders
              <% end %>
            <% end %>
          </li>
          <li class ="nav-item">
            <% if session[:is_admin] %> <!-- this code makes it so it renderrs signup and login if you're not logged in' -->
              <%= link_to products_path, class:"nav-link" do %>
                <%= content_tag(:span, "") %>
                Products
              <% end %>
            <% end %>
          </li>
        </ul>
        
        <!-- navbar right side --> 
        <!-- differentiate from logged in to a guest user -->
        <ul class="nav navbar-nav navbar-right">
        <!-- search bar -->
        <!--<li>
              <div class="col-lg-12">
                <form class="navbar-form" role="search"> 
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name = "query" id="navbar-search">
                      <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" id ='navbar-search-button'><span class="fas fa-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </form>
              </div>
          </li> -->
          
          <!--<li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#popUpSignUp" data-whatever="@mdo"><span class="fas fa-user"></span>Sign Up</a></li>
          <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#popUpLogin" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>-->
          
          <!--<li class="nav-item"><a href="#"><span class="fas fa-user"></span>Sign Up</a></li>-->
          <% if session[:user_id] == nil %> <!-- this code makes it so it renderrs signup and login if you're not logged in' -->
            <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#popUpSignUp" data-whatever="@mdo"><span class="fas fa-user"></span>Sign Up</a></li>
            
            <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#popUpLogin" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>
            

            <%# link_to signup_path, class:"nav-link" do %>
              <%# content_tag(:span, "", :class => "fas fa-user") %>
              <!--Sign Up-->
            <%# end %>
            <!--<li class="nav-item"><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>-->
            <%# link_to new_session_path, class:"nav-link" do %>
              <%# content_tag(:span, "", :class => "fa fa-sign-in-alt") %>
              <!--Log In-->
            <%# end %>
            
          <% else %>
            <%= link_to cart_path, :controller => :sessions_controller, :action => :cart, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fas fa-shopping-cart") %>
              Cart <!-- add in here -->
            <% end %>
            <%= link_to logout_path, :controller => :sessions_controller, :action => :logout, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fa fa-sign-in-alt") %>
              Log Out
            <% end %>
          <% end %>
        </ul>
      <!-- navbar right side end -->
        
      </div>
    </nav>
    <br/>
      <%= yield %>
  </body>
</html>
