<!DOCTYPE html>
<html>
  <head>
    <title>TasteBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <!--<a class="navbar-brand" href="root_url">TasteBuddy</a>-->
      <%= link_to "TasteBuddy", root_url, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <!--<a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>-->
              <%= link_to "Home", root_url, class:"nav-link" %>
          </li>
        </ul>
        
        <!-- navbar right side --> 
        <!-- differentiate from logged in to a guest user -->
        <ul class="nav navbar-nav navbar-right">
        <!-- search bar -->
        <!--<li>
              <div class="col-lg-12">
                <form class="navbar-form" role="search"> 
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name = "query" id="navbar-search">
                      <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" id ='navbar-search-button'><span class="fas fa-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </form>
              </div>
          </li> -->
          <!--<li class="nav-item"><a href="#"><span class="fas fa-user"></span>Sign Up</a></li>-->
          <% if session[:user_id] == nil %> <!-- this code makes it so it renderrs signup and login if you're not logged in' -->
            <%= link_to signup_path, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fas fa-user") %>
              Sign Up
            <% end %>
            <!--<li class="nav-item"><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>-->
            <%= link_to new_session_path, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fa fa-sign-in-alt") %>
              Log In
            <% end %>
          <% else %>
            <%= link_to logout_path, :controller => :sessions_controller, :action => :logout, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fas fa-user") %>
              Log Out
            <% end %>
          <% end %>
          
        </ul>
      <!-- navbar right side end -->
        
      <!-- Start of Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Login</h2>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <form > <!--php functionality inserted in form tag-->
          <div class="form-group">
            <label for="Username" class="form-control-label">Username</label>
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control" name="usrname" id="Username-modal" placeholder="Enter Username">
            <!--name="usrname" is what php will use to reference this-->
              </div>
            
          </div>
            
          <div class="form-group">
            <label for="Password" class="form-control-label">Password</label>
                <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password" id="Password-modal" placeholder="Enter Password" autocomplete="new-password"></input>
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="button" id="seePwdBtnModal">
                        <i class="glyphicon glyphicon-eye-close"></i>
                      </button>
                    </div>
                </div>
          </div>
          <label id="wrongusr"></label> <!--ajax will change this label if user enters invalid data -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id = "bloginmdl">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Login Modal -->
      
      </div>
    </nav>
    <br/>
      <%= yield %>
  </body>
</html>
