<!DOCTYPE html>
<html>
  <head>
    <title>TasteBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    
</head>

  <body>

              <%if notice %>
                  <div id="notice_wrapper" style="position: absolute; top: 0; width: 100%;z-index: 999; background: rgba(135, 216,211,0.85);">
                    <p class="notice" style="padding:1.75rem 0;text-align:center;margin:0;font-size:1.25rem;font-weight:700;color: #FFFFFF;letter-spacing:1px"><%= notice%></p>
                  </div>
              <% elsif alert %> 
                  <div id="notice_wrapper" style="position: absolute; top: 0; width: 100%;z-index: 999; background: rgba(135, 216,211,0.85);">
                    <p class="alert" style="padding:1.75rem 0;text-align:center;margin:0;font-size:1.25rem;font-weight:700;color: #FFFFFF;letter-spacing:1px"> <%= alert%></p>
                  </div>  
              <% end %>

              <script>
                $(document).ready(function(){
                    setTimeout(function(){
                      $('#notice_wrapper').fadeOut("slow",function(){
                        $(this).remove();
                      })   
                    }, 4500);
                });
              </script>
             <!-- Login Start-->
                    <div class="modal_container">
                    <div class="modal fade" id="popUpLogin">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- header-->
                                <div class="modal-header">
                                    <center><h2>LOGIN</h2></center>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- body-->
                                <div class="modal-body">
                                    <form role="form">
                                        
                                      <label>Email</label>  
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Email" name="Email" required="Email" >                                 
                                      </div>

                                      
                                      <label>Password</label>
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                            <i  class="glyphicon glyphicon-lock"></i>
                                        </div>
                                        <input type="Password" class="form-control" placeholder="Password" name="Password" required="Password"  >
                                      </div>
                                    </form>
                                </div>
                                
                                <!--footer-->
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn_edit">LOGIN </button>
                                </div>
                                
    
                            </div>
                        </div>
                    </div>
                    </div>
                  <!-- End-->
                  <!-- Register Start-->
                    
                    <div class="modal fade" id="popUpSignUp">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- header-->
                                <div class="modal-header">
                                    <center><h2>REGISTER</h2></center>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- body-->
                                <div class="modal-body">
                                    <form role="form">
                                        
                                        
                                      <label>First Name</label>
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                          <i class="glyphicon glyphicon-user"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="First Name" name="FirstName" required="FirstName"  >
                                    </div>
                                    
                                        
                                    <label>Last Name</label>
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                       <i class="glyphicon glyphicon-user"></i>
                                      </div>
                                        <input type="text" class="form-control" placeholder="Last Name" name="LastName" required="LastName"  >
                                    </div>
                                        
                                    <label>Email</label>
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                      </div>
                                        <input type="Email" class="form-control" placeholder="Email" name="Email" required="Email"  >
                                    </div>
                                        
                                        
                                    <label>Password</label>    
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                      </div>
                                        <input type="Password" class="form-control" placeholder="********" name="Password" required="Password"  >
                                    </div>

                                    <label>Confirm Password</label>
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                      </div> 
                                        <input type="Password" class="form-control" placeholder="********" name="Re_Password" required="Re_Password">
                                    </div>
                                    </form>
                                </div>
                                
                                <!--footer-->
                                <div class="modal-footer">
                                        <button type="input" name="register" class="btn btn-primary btn_edit" >Register</button>
                                </div>
                                
    
                            </div>
                        </div>
                    </div>
                        
      
      
      
      
      
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "TasteBuddy", root_url, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_url, class:"nav-link" %>
            
          </li>
          <li class ="nav-item">
            <% if session[:user_id] != nil %> <!-- this code makes it so it renderrs signup and login if you're not logged in' -->
              <%= link_to orders_path, class:"nav-link" do %>
                <%= content_tag(:span, "") %>
                Orders
              <% end %>
            <% end %>
          </li>
          <li class ="nav-item">
            <% if session[:is_admin] %> <!-- this code makes it so it renderrs signup and login if you're not logged in' -->
              <%= link_to products_path, class:"nav-link" do %>
                <%= content_tag(:span, "") %>
                Products
              <% end %>
            <% end %>
          </li>
        </ul>
        
        <!-- navbar right side --> 
        <!-- differentiate from logged in to a guest user -->
        <ul class="nav navbar-nav navbar-right">
        <!-- search bar -->
        <!--<li>
              <div class="col-lg-12">
                <form class="navbar-form" role="search"> 
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name = "query" id="navbar-search">
                      <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" id ='navbar-search-button'><span class="fas fa-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </form>
              </div>
          </li> -->
            
          <li class="nav-item"><a href="#" data-toggle="modal" data-target="#popUpSignUp" data-whatever="@mdo"><span class="fas fa-user"></span>Sign Up</a></li>
          <li class="nav-item"><a href="#" data-toggle="modal" data-target="#popUpLogin" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>
          <!--<li class="nav-item"><a href="#"><span class="fas fa-user"></span>Sign Up</a></li>-->
          <% if session[:user_id] == nil %> <!-- this code makes it so it renderrs signup and login if you're not logged in' -->
            <%= link_to signup_path, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fas fa-user") %>
              Sign Up
            <% end %>
            <!--<li class="nav-item"><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="fa fa-sign-in-alt"></span>Login</a></li>-->
            <%= link_to new_session_path, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fa fa-sign-in-alt") %>
              Log In
            <% end %>
            
          <% else %>
            <%= link_to cart_path, :controller => :sessions_controller, :action => :cart, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fas fa-shopping-cart") %>
              Cart <!-- add in here -->
            <% end %>
            <%= link_to logout_path, :controller => :sessions_controller, :action => :logout, class:"nav-link" do %>
              <%= content_tag(:span, "", :class => "fa fa-sign-in-alt") %>
              Log Out
            <% end %>
          <% end %>
        </ul>
      <!-- navbar right side end -->
        
      </div>
    </nav>
    <br/>
      <%= yield %>
  </body>
</html>
